@font-face {
  font-family: 'Photex Decorative Nastalique Regular';
  src: url("../fonts/Photex Decorative Nastalique Regular.eot");
  src: url("../fonts/Photex Decorative Nastalique Regular.eot") format("embedded-opentype"), 
       url("../fonts/Photex Decorative Nastalique Regular.woff") format("woff"), 
       url("../fonts/Photex Decorative Nastalique Regular.ttf") format("truetype"), 
       url("../fonts/Photex Decorative Nastalique Regular.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}
